pkgbase = tspdf
	pkgdesc = Zero-dependency PDF toolkit and CLI in pure C11
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/be-lang/tspdf
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	options = staticlibs
	source = tspdf-0.3.0.tar.gz::https://github.com/be-lang/tspdf/archive/refs/tags/v0.3.0.tar.gz
	sha256sums = 1545411ededcfb8cd517e040bdf5a2d2da135a41b19c7104c112078a3c4acfec

pkgname = tspdf
