pkgbase = tspdf
	pkgdesc = Zero-dependency PDF toolkit and CLI in pure C11
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/be-lang/tspdf
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	options = staticlibs
	source = tspdf-0.4.0.tar.gz::https://github.com/be-lang/tspdf/archive/refs/tags/v0.4.0.tar.gz
	sha256sums = 9b17bc57218d5b727fa968f7e6a911e9802f46cf721d7c9933f5789826d8c5b1

pkgname = tspdf
